{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="card-body table-responsive mt-4">
    <h3>All Loan Applications</h3>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Payee</th>
                <th>Loan Type</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Applied At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.payee.user.get_full_name }}</td>
                <td>{{ loan.loan_type }}</td>
                <td>₦{{ loan.loan_amount }}</td>
                <td>{{ loan.status }}</td>
                <td>{{ loan.applied_at }}</td>
                <td>
                    <a href="{% url 'loans:admin_loan_detail' loan.id %}" class="btn btn-sm btn-primary">View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
