{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between align-item-center mt-4">
    <h3>Student Dashboard</h3>

    <a href="#" class="btn btn-success">
        Download Report (PDF)
    </a>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-info ">
        Score Breakdown
      </div>
      <div class="card-body">
        <p>Objective Score: <strong>{{ objective }}</strong></p>
        <p>Subjective Score: <strong>{{ subjective }}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-info ">
        Total Score
      </div>
      <div class="card-body">
        <p>Class Rank</p>
        {% for row in leaderboard %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ row.student__first_name }} {{ row.student__last_name }}</td>
          <td>{{ row.total_score }}</td>
        </tr>
        {% endfor %}
        <p>My Rank: {{ row.student.request.user }} </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-info ">
        Total Exams Taken
      </div>
      <div class="card-body">
        <p>Exams Taken: {{ total_exams }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-4 shadow-sm">
    <div class="card-header bg-warning">
        leaderboard
    </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Student</th>
          <th>Total Score</th>
        </tr>
      </thead>
      <tbody>
        {% for row in leaderboard %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ row.student__first_name }} {{ row.student__last_name }}</td>
          <td>{{ row.total_score }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <canvas id="scoreChart"></canvas>

  </div>

  
  
  <div class="col-md-6">
    <!-- ========================= -->
    <!-- AVAILABLE EXAMS -->
    <!-- ========================= -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-success text-white">
        Available Exams
      </div>
      <div class="card-body">

        {% if available_exams %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Exam</th>
              <th>Duration</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for exam in available_exams %}
            <tr>
              <td>{{ exam.title }}</td>
              <td>{{ exam.duration }} mins</td>
              <td>
                <a href="{% url 'exams:start_exam' exam.id %}" class="btn btn-sm btn-primary">
                  Start Exam
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-muted">No exams available.</p>
        {% endif %}

      </div>
    </div>
    
  <!-- ========================= -->
  <!-- IN PROGRESS -->
  <!-- ========================= -->
  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-warning">
      In-Progress Exams
    </div>
    <div class="card-body">

      {% if in_progress_attempts %}
      <ul class="list-group">
        {% for attempt in in_progress_attempts %}
        <li class="list-group-item d-flex justify-content-between">
          <span>{{ attempt.exam.title }}</span>
          <a href="{% url 'exams:resume_exam' attempt.id %}" class="btn btn-sm btn-warning">
            Resume
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-muted">No active exams.</p>
      {% endif %}

    </div>
  </div>

  
  <!-- ========================= -->
  <!-- PAST ATTEMPTS -->
  <!-- ========================= -->
  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-secondary text-white">
      Past Attempts
    </div>
    <div class="card-body">

      {% if past_attempts %}
      <table class="table">
        <thead>
          <tr>
            <th>Exam</th>
            <th>Score</th>
            <th>Status</th>
            <th>Retake</th>
          </tr>
        </thead>
        <tbody>
          {% for attempt in past_attempts %}
          <tr>
            <td>{{ attempt.exam.title }}</td>
            <td>{{ attempt.total_score }}</td>
            <td>{{ attempt.get_status_display }}</td>
            <td>
              {% if attempt.can_retake %}
              <span class="badge bg-success">Allowed</span>
              {% else %}
              <a href="{% url 'exams:request_retake' attempt.exam.id %}" class="btn btn-sm btn-outline-danger">
                Request
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          <a href="{% url 'exams:exam_result' attempt.id %}" class="btn btn-sm btn-primary">
              View Result
          </a>

        </tbody>
      </table>
      {% else %}
      <p class="text-muted">No completed exams yet.</p>
      {% endif %}

    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    new Chart(document.getElementById("scoreChart"), {
      type: "bar",
      data: {
        labels: ["Objective", "Subjective"],
        datasets: [{
          data: [{{ objective }}, {{ subjective }}],
      backgroundColor: ["#0d6efd", "#198754"]
    }]
        }
    });
  </script>

{% endblock %}