{% extends "base.html" %}
{% block content %}

<h3>Checkout</h3>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Qty</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.items.all %}
    <tr>
      <td>{{ item.product_name }}</td>
      <td>{{ item.quantity }}</td>
      <td>₦{{ item.price|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Total: ₦{{ order.total_amount }}</h4>
{% if order.status == "PENDING" %}
<form method="post" action="{% url 'brillspay:checkout' %}">
  {% csrf_token %}
  <input type="hidden" id="csrf-token-debug" value="{{ csrf_token }}">
  <input type="hidden" name="ward_id" value="{{ order.ward.id }}">
  <button type="submit" class="btn btn-primary w-100">
    Proceed to Checkout
  </button>
</form>
{% else %}
<button class="btn btn-secondary w-100" disabled>
  Payment Not Available
</button>
{% endif %}

{% endblock %}