{% extends "base.html" %}
{% block content %}

<div class="container py-4">
  <h4>Order Summary</h4>

  <div class="card p-3">
    {% for item in order.items.all %}
      <div class="d-flex justify-content-between mb-2">
        <span>{{ item.product_name }} × {{ item.quantity }}</span>
        <strong>₦{{ item.subtotal|floatformat:0 }}</strong>
      </div>
    {% endfor %}

    <hr>
    <h5>Total: ₦{{ order.total_amount}}</h5>
  </div>

  <button class="checkout-btn mt-3">
    Pay Now
  </button>{% if items %}
  {% for item in items %}
    <div class="d-flex justify-content-between mb-2">
      <div>
        <strong>{{ item.product_name }}</strong><br>
        <small>{{ item.quantity }} × ₦{{ item.price }}</small>
      </div>
      <div>₦{{ item.quantity|mul:item.price }}</div>
    </div>
  {% endfor %}
  <hr>
  <h5>Total: ₦{{ order.total_amount }}</h5>
{% else %}
  <p class="text-muted text-center">No items in checkout</p>
{% endif %}

</div>

{% endblock %}
