{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="payrollChart"></canvas>

<script>
fetch("/payroll/admin/charts/monthly/")
  .then(res => res.json())
  .then(data => {
    const labels = data.map(d => `${d.payroll_period__month}/${d.payroll_period__year}`);
    const totals = data.map(d => d.total);

    new Chart(document.getElementById("payrollChart"), {
      type: "bar",
      data: {
        labels: labels,
        datasets: [{
          label: "Monthly Payroll (Net)",
          data: totals
        }]
      }
    });
  });
</script>

{% endblock content %}
    
