services:
  web:
    build: .
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - ./media:/app/media
    env_file:
      - .env.docker
    environment:
      - DB_HOST=db
      - ALLOWED_HOSTS=127.0.0.1,localhost,web,10.103.148.197,.ngrok-free.dev
    expose:
      - "8000"
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: thebrills_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: idrees
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - ./media:/app/media
    ports:
      - "80:80"
    depends_on:
      - web
    restart: always

volumes:
  static_volume:
  postgres_data:
