version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./media:/app/media
      - ./logs:/app/logs
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: thebrills_db
      POSTGRES_USER: thebrills_user
      POSTGRES_PASSWORD: thebrills_db_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
