{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h4 class="fw-bold">My Exams</h4>

  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Class</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for exam in exams %}
      <tr>
        <td>{{ exam.title }}</td>
        <td>{{ exam.school_class }}</td>
        <td>
          {% if exam.is_published %}
            <span class="badge bg-success">Published</span>
          {% else %}
            <span class="badge bg-warning">Draft</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
