{% extends 'base.html' %}

<style>
body { font-family: sans-serif; }
.watermark {
  position: fixed;
  top: 40%;
  left: 20%;
  opacity: 0.1;
  font-size: 60px;
  transform: rotate(-30deg);
}
</style>


{% block content %}


<div class="watermark">{{ school_name }}</div>

<h2>{{ school_name }}</h2>
<p>{{ school_address }}</p>
<hr>

<h4>Payslip</h4>
<p>
Payee: {{ payroll.payee.full_name }} <br>
Period: {{ payroll.payroll_period }}
</p>

<table width="100%" border="1" cellspacing="0" cellpadding="5">
<tr>
  <th>Component</th>
  <th>Type</th>
  <th>Amount</th>
</tr>

{% for item in items %}
<tr>
  <td>
    {% if item.metadata.type == "loan" %}
      Loan Repayment
    {% else %}
      {{ item.component.name }}
    {% endif %}
  </td>
  <td>{{ item.line_type|title }}</td>
  <td>₦{{ item.amount }}</td>
</tr>
{% endfor %}
</table>

<hr>

<p>
Gross: ₦{{ payroll.gross_pay }} <br>
Deductions: ₦{{ payroll.total_deductions }} <br>
<strong>Net Pay: ₦{{ payroll.net_pay }}</strong>
</p>

{% endblock %}



