{% extends "base.html" %}
{% block content %}

<div class="row mt-4">
    <div class="col-md-4">
        <div class="rounded shadow">
            <h2 class="fw-semibold mt-4 mb-4" style="margin-left: 10px;">
                Delete Exam
            </h2>

            <p class="mb-6" style="margin-left: 10px;">
                Are you sure you want to delete <strong>{{ exam.title }}</strong>?
                <br>This action cannot be undone.
            </p>

            <form method="post" style="margin-left: 10px;">
                {% csrf_token %}
                <div class="flex justify-between align-item-center w-100">
                    <a href="{% url 'exams:teacher_dashboard' %}" class="btn btn-secondary mb-1 w-100">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-danger w-100">
                        Yes, Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}
