{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col-md-4">
        <div class="container bg-light rounded shadow p-6" style="margin-left: 10px;">
        <div class="mx-auto mt-8">

            <h2 class="fw-semibold mb-4">
                {{ exam.title }}
            </h2>

            <div class="space-y-2 text-sm">
                <p><strong>Class:</strong> {{ exam.school_class }}</p>
                <p><strong>Duration:</strong> {{ exam.duration }} minutes</p>
                <p><strong>Start:</strong> {{ exam.start_time }}</p>
                <p><strong>End:</strong> {{ exam.end_time }}</p>

                <p>
                    <strong>Question Type:</strong>
                    {{ exam.get_question_type_display }}
                </p>

                <p>
                    <strong>Retake Allowed:</strong>
                    {{ exam.allow_retake|yesno:"Yes,No" }}
                </p>

                {% if exam.requires_payment %}
                    <p><strong>Price:</strong> ₦{{ exam.price }}</p>
                {% endif %}
            </div>

            {% if can_edit %}
            <div class="flex gap-3 mt-6 ">

                {% if not has_started %}
                    <a href="{% url 'exams:edit_exam' exam.id %}" class="btn btn-primary mb-1 w-100">
                        Edit Exam
                    </a>
                {% else %}
                    <span class="text-sm text-danger w-100">
                        Editing locked (exam started)
                    </span>
                {% endif %}
        

                <a href="{% url 'exams:delete_exam' exam.id %}" class="btn btn-danger w-100">
                    Delete
                </a>
            </div>

            {% endif %}

        </div>
        </div>
    </div>
</div>


{% endblock %}
