{% extends "base.html" %}
{% load humanize %}
{% block content %}

<div class=" card container mt-5" style="max-width: 500px;">
   <h4 class="card-header">{{ record.payee.user.get_full_name }}</h4>
   <div class="card-body p-4 shadow-sm mt-3 mb-2">
      <p>Gross: ₦{{ record.gross_pay| intcomma }}</p>
      <p>Deductions: ₦{{ record.total_deductions| intcomma }}</p>
      <p>Net: ₦{{ record.net_pay| intcomma }}</p>


{% if not record.approval.bursar_approved_at %}
<a href="{% url 'payroll:bursar_approve' record.id %}"
   class="btn btn-warning">Bursar Approve</a>
{% endif %}

{% if record.approval.bursar_approved_at and not record.approval.admin_approved_at %}
<a href="{% url 'payroll:admin_approve' record.id %}"
   class="btn btn-success">Admin Approve</a>
{% endif %}

{% endblock %}
</div>
</div>   