{% extends "admin/dashboard.html" %}
{% block title %}Orders{% endblock %}

{% block content %}
<h4>🛒 Orders</h4>

<table class="table table-striped bg-white shadow-sm">
  <thead>
    <tr>
      <th>Order #</th>
      <th>User</th>
      <th>Total</th>
      <th>Status</th>
      <th>Paid</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>#{{ order.id }}</td>
      <td>{{ order.user.get_full_name }}</td>
      <td>₦{{ order.total }}</td>
      <td>{{ order.status }}</td>
      <td>
        {% if order.is_paid %}
          <span class="badge bg-success">Yes</span>
        {% else %}
          <span class="badge bg-danger">No</span>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'shop:admin_order_detail' order.id %}"
           class="btn btn-sm btn-outline-primary">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
