{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
  

<h2>Payslip — {{ payroll.month|date:"F Y" }}</h2>

<table class="table">
<tr><th>Gross Salary</th><td>{{ payroll.gross }}</td></tr>
<tr><th>Deductions</th><td>{{ payroll.total_deductions }}</td></tr>
<tr><th>Net Pay</th><td><strong>{{ payroll.net }}</strong></td></tr>
<tr><th>Status</th><td>{{ payroll.status }}</td></tr>
</table>

<a href="{% url 'payslip_pdf' payroll.id %}" class="btn btn-primary">
    Download PDF
</a>

{% endblock %}