{% extends "base.html" %}
{% block content %}
<div class="container py-4">
  <h4>Orders</h4>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Order</th>
        <th>Buyer</th>
        <th>Ward</th>
        <th>Status</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orders %}
      <tr>
        <td>
          <a href="{% url 'brillspay:admin_order_detail' o.id %}">
            {{ o.id|truncatechars:8 }}
          </a>
        </td>
        <td>{{ o.user.get_full_name }}</td>
        <td>{{ o.ward.get_full_name }}</td>
        <td><span class="badge bg-info">{{ o.status }}</span></td>
        <td>₦{{ o.total_amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
