{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School SMS Pro{% endblock title %}</title>
    
    <link rel="manifest" href="{% static 'manifest.json' %}">
    
    {% tailwind_css %}
     <!-- {% load static tailwind_tags %} -->
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    
    <style>
        body {
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
        }
    </style>
    <!-- <link href="{% static 'css/styles.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body class="bg-gray-50 flex flex-col min-h-screen">
    
    {% include "includes/header.html" %}

    <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-28">
        {% block content %}{% endblock content %}
    </main>
    
    {% include "includes/footer.html" %}

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/exam_manager.js' %}"></script>
    
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>